*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    cursor: pointer;
}
body {
    height:100vh;
    background: #222;
    color: #110d0d;
    font-family: system-ui,sans-serif;
}
a{text-decoration:none;
    color: unset;
}

ul{
    display: flex;
    list-style:none;
    align-items:center;
    justify-content: center;
   
}
li>a{
    display:block;
    padding:.5rem 1rem ;
   
}
#banner{
    /* background-color: #444; */
    height: 400px;
    position: relative;
}
#slider{
    width:70%;
    margin: 0 auto;
    /*border: 1px solid #641010;*/
    height: 100%;
    display:flex;
    align-items:center;
    overflow-x:scroll;
    scroll-snap-type:x mandatory;
    scroll-behavior:smooth;
}
#slider::-webkit-scrollbar{
    display:none;
}
.img{
    scroll-snap-align:center;
    flex: 0 0 100%;
    height: 100%;
    font-size: 500%;
    display:flex;
    justify-content:center;
    align-items:center;
    /*border: 2px solid #e35;*/
}
#slider-btns{
    position:absolute;
    left: 20%;
    bottom: 2rem;
    /*border:1px solid blue;*/
    display:flex;
    align-items:center;
    justify-content:center;
    gap:.3rem;
    z-index:3;
}
#slider-btns>a{
    display:inline-block;
    height:.4rem;
    width:.4rem;
    border-radius:.4rem;
    background-color: #444;
    transition:background-color .2s ease, width .2s ease;
}
#slider-btns>a:hover{
    background-color:#777;
}
#slider-btns > a.on{
    width: 1rem;
    background-color: #ccc;
}
#books{
    position:absolute;
    top:0;
    left:15%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:1rem;
    gap:0.5rem;
}
#book-title{
    font-size:180%;
    background-image: linear-gradient(to left,red, blue);
    background-clip:text;
color: transparent, purple;
}
#book-author{
    color: #888;
}
#book-rating{
    color: #ffd700;
    font-family:80%;
    margin:top .7rem;
    border: 1px solid#ccc;
    border-radius: 24px;
    padding:.5rem 1rem;
    width:fit-content;
    display: flex;align-items:center;gap: 0.5em;
}
